/* @import '~vuetify/dist/vuetify.min.css'; */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
    --text-color: red;
    --text-size: 5rem;
    background-color: blue;
  } */
body {
    height: 100%;
}

#digiCard {
  width: 350px !important;
}